* {
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  margin: 0;
  height: 100vh;
}

.container {
  position: relative;
  width: 80%;
  margin: auto;
  top: 10vh;
  /* top: 50%;
  transform: translateY(-50%); */
}

form {
  padding: 0.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 1rem;
  }

  .container table {
    width: 100%;
    overflow-x: scroll;
    position: relative;
    display: inline-block;
  }
}